<div data-dojo-attach-point="stateNode, tooltipNode" class="dijit dijitReset dijitInline">
    <div class="dijit dijitReset">
        <table class="insertTable epi-default">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Content</th>
                    <th colspan="3">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-dojo-attach-point="containerNode" class="keyValueListBody">
                
            </tbody>
        </table>
    </div>
    <div class="dijit dijitReset">
        <div data-dojo-attach-point="btnAddNewItem" data-dojo-type="dijit.form.Button">${addButtonLabel}</div>
    </div>
</div>
