<?xml version="1.0" encoding="utf-8"?>
<module productName="Geta EPi Cms UI" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.EPi.Cms.UI" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-epi-cms" path="ClientResources/Scripts" />
        </paths>
    </dojo>
    <clientModule initializer="geta-epi-cms.CommandsInitializer">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
    </clientModule>
</module>